<!DOCTYPE html>
<html lang="en">
<head>
    <title>IPL Win Predictor</title>
</head>
<body>
    <h1>IPL Win Predictor</h1>
    <form action="/predict" method="post">
        Batting Team: <input type="text" name="batting_team"><br>
        Bowling Team: <input type="text" name="bowling_team"><br>
        City: <input type="text" name="selected_city"><br>
        Target: <input type="number" name="target"><br>
        Score: <input type="number" name="score"><br>
        Balls Left: <input type="number" name="balls_left"><br>
        Wickets: <input type="number" name="wickets"><br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>
